
/* ----- General ----- */
.pageHeaderTitle {
  padding: 20px 0; color: #fff; background: #00a690; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #00a690 0%, #00726e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #00a690 0%,#00726e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #00a690 0%,#00726e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a690', endColorstr='#00726e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.pageHeaderTitle h1 {display: inline-block; vertical-align: middle; padding-left: 10px; margin: 7px 0 0;}
.bvLogo {width: 50px;}
body {background: #fff;}
.main {background: #fff; padding-top: 30px; padding-bottom: 30px;}
.scopeContainer, .hoursContainer {border-radius: 20px; box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 10px 40px 10px rgba(0,0,0,0.05);}
.hoursContainer {margin-left: 5%; max-height: 460px;}
.scopeCalc label {margin-right: 15px;}
.scope label {vertical-align: top;}
.scope .col {padding-bottom: 0; padding-top: 0;}
.scopeCalc .countBox, .scopeCalc .countBox:focus {border: 1px solid #ccc; border-radius: 3px; outline: none;}
.addFeatures label {display: block;}
.divider {border-top: 1px solid #eee; margin: 0 15px;}
  .hoursContainer .divider {margin: 0; padding-bottom: 15px;}
.error {color: red; font-size: 12px; vertical-align: top; float: right;}
.warning {color: orange; font-size: 13px;}
.sectionTitle {padding-bottom: 10px;}
.sectionTitle span {font-weight: normal; font-size: 12px; padding-left: 5px; color: #aaa;}
.sectionTitle h5, .sectionTitle p {display: inline-block; margin-bottom: 0; padding-right: 5px;}
.header {padding: 20px 25px; border-radius: 20px 20px 0 0; background: #65C8Cf; color: #fff;}
.header h3 {margin-bottom: 0;}

/* ----- Bootstrap ----- */

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

/* ----- Checkbox styles ----- */
@-webkit-keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -12px;
    margin-top: -12px;
    opacity: 0;
  }
}
@-moz-keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -12px;
    margin-top: -12px;
    opacity: 0;
  }
}
@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 40px;
    width: 40px;
    margin-left: -12px;
    margin-top: -12px;
    opacity: 0;
  }
}
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 4px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: none;
  border: 1px solid #ccc;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 2px;
  outline: none;
  position: relative;
  z-index: 1000;
  border-radius: 3px;
}
.option-input:hover {
  border: 1px solid #ccc;
}
.option-input:checked {
  background: #65C8Cf;
  border: 1px solid #65C8Cf;
}
.option-input:checked::before {
  height: 18px;
  width: 18px;
  position: absolute;
  content: '\E876';
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 18px;
  font-family: 'Material Icons';
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #65C8Cf;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

